.container {
  margin: auto;
  height: 40px;
  width: 100%;
}

.stick1 {
  height: 3px;
  width: 80%;
  animation: roll 5s infinite;
  background-color: #fc7753;
}

.stick1:hover {
  background-color: aquamarine;
  transition: background-color .5s;
}

@keyframes roll {
  0% {
    width: 80%;
  }
  50% {
    width: 0%; 
  }
  100% {
    width: 80%;
  }
}
