@media (max-width: 399px) {
  .menu {
    display: none;
  }
}

.menu {
  position: fixed;
  top: 15px;
  border-radius: 3px;
  backdrop-filter: blur(3px);
  transform: translateY(0);
  transition: opacity 0.6s, transform .6s;
}
.hide {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.6s, transform .6s;
}

.div {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.link1,
.link2,
.link3 {
    opacity: 1;
  color: black;
  padding: 3px 15px 3px 15px;
}


@media (max-width: 700px) {
  .div {
    width: 400px;
  }
}
