@media (max-width: 525px) {
  .menu {
    display: none;
  }
}

@media (max-width: 700px) {
  .div {
    width: 400px;
  }
}

@media (max-height: 525px) and (min-width: 525px) {
  .menu {
    display: none;
  }
}

/* desktop menu */
.menu {
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,.2);
  position: absolute;
  top: 0px;
  left:0;
  right:0;
  height: 30px;
  backdrop-filter: blur(3px);
  transition: opacity 0.6s, transform 0.6s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hide {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.6s, transform 0.6s;
}

.div {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.link1,
.link2,
.link3 {
  padding: 3px 15px 3px 15px;
}

.contactHolder{
  width: 300px;
}