@media (max-width: 525px) {
  .menu {
    display: none;
  }
}
@media (min-width: 526px) {
  .mobileMenu {
    display: none;
  }
}

@media (max-width: 700px) {
  .div {
    width: 400px;
  }
}

@media (max-height: 525px) and (min-width: 525px) {
  .menu {
    display: none;
  }
  .mobileMenu {
    display: block;
  }
}

/* desktop menu */
.menu {
  background-color: #e6ccbe;
  position: fixed;
  top: 15px;
  backdrop-filter: blur(3px);
  transform: translateY(0);
  transition: opacity 0.6s, transform 0.6s, box-shadow 0.3s;
  z-index: 200;
}
.hide {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.6s, transform 0.6s;
}

.div {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.link1,
.link2,
.link3 {
  padding: 3px 15px 3px 15px;
}

/* mobile menu */

.mobileMenu {
  width: 100%;
  background-color: #e6ccbe;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateY(0);
  transition: opacity 0.6s, transform 0.6s;
  z-index: 101;
}

.hideMobile {
  transform: translateY(60px);
}
