.img {
  border-radius: 100%;
  box-shadow: 1px 1px 10px rgb(68, 66, 66); 
  
}

.hereBtn{
  color: #cd8987;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: text-decoration 1s;
}
.hereBtn:hover{
  text-decoration: underline;
  transition: text-decoration 1s;
}
.name{
  color: black;
  font-weight: 900;
  cursor: pointer;
}

.photoHolder{
  transform: translateY(-50px);
  position: absolute;
  top: 200px;
}

.footer{
  position: absolute;
  width: 80%;
  bottom: 10px;
}



.frostedGlass {
  position: relative;
  backdrop-filter: blur(2px);
  top: 40px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  transition: all .2s;
  width: 500px;
  height: 300px;
  box-shadow: 1px 1px 80px rgb(58, 55, 55);
}

.presentationText {
  text-align: center;
  letter-spacing: .7px;
}

@media (min-width: 700px) {
  .img {
    width: 200px;
  }
}

@media (max-width: 699px) {
  .img {
    width: 200px;
  }
}
@media (max-width: 400px) {
  .img {
    width: 150px;
  }
}
