h1, h2, h3, h4 {
    font-family: playfair display;
    font-weight: 300;
}
a {
    font-family: playfair display;
    font-weight: 300;
    font-size: large;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #edd170;
}
