h1, h2, h3, h4, p {
    font-family: Cabin;
    font-weight: 600;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
}

p{
    font-size: 30px;
}
 
a {
    font-family: Cabin;
    font-weight: bold;
    font-size: 30px;
    color: black;
}
a:hover {
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #edd170;
}
