/* desktop */

@media (min-width: 526px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 15px;
  }
  p {
    font-size: 17px;
  }
}

/* phone */

@media (max-width: 526) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 15px;
  }
  p {
    font-size: 25px;
  }
}

/*phone horizontal*/
@media (max-height: 525px) and (min-width: 525px) {
  .elementContent {
    display: none;
    background-color: red;
  }
  .componentHeader {
    width: 90%;
    height: 90%;
    padding: 5px;
  }
  .componentSection {
    width: 100px;
    height: 100px;
  }
  .hideOnHorizontal {
    display: none;
  }
  .presentationText {
    background-color: #e65f5c;
    box-shadow: 3px 5px 5px #646e68;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 20px;
  }
  .decoAnimThree {
    position: absolute;
    bottom: -50px;
  }
  .componentHolder {
    width: 200px;
  }
  .profileComponentHolder {
  }
  .profileHeader {
    margin-left: -10px;
    margin-top: -20px;
    font-size: 30px;
  }
  .profileHeaderText {
    font-size: 50px;
  }
  .profilePic {
    margin-right: -40px;
    margin-top: -10px;
  }
}
