.div {
    width: 90%;
    text-align: left;
}

.progress {
    height: 10px;
    width: 100px;
    position: static;
    right: 100px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    width: 50%;
    background-color: blueviolet;
    border: 2px solid black;
    display: flex;
    align-items: center;
    vertical-align: auto;
    justify-content: center;
}

@media(max-width: 525px){
    .figure{
        border: 1px dotted rgba(63, 63, 63, 0.267);
        padding-bottom: 5px;
    }
}