.img {
  
  border-radius: 100%;
  box-shadow: 1px 1px 10px rgb(68, 66, 66);
  width: 200px;
  transition: all 0.3s;
}



.verticalAlign{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 1px;
  display: flex;
  justify-content: center;
  z-index: 2;
}