.img {
  position: relative;
  border-radius: 100%;
  box-shadow: 1px 1px 10px rgb(68, 66, 66);
  width: 200px;
  z-index: 100;
  top: 150px;
  transition: all .3s;
}

.photoHolder {
  transition: all .3s;
  position: absolute;
  top:0;
}