.icon {
  width: 30px;
  height: 30px;
  box-shadow: none;
  padding: 10px;
  filter: grayscale();
  cursor: pointer;
}

.icon:hover {
  filter: none;
}

.contactContainer{
}

@media (max-width: 525px) {
  .icon {
    width: 10px;
    height: 10px;
  }
}
