.icon {
  width: 35px;
  height: 35px;
  box-shadow: none;
  
  filter: grayscale();
  cursor: pointer;
}

.icon:hover {
  filter: none;
}

.icon.small{
  width: 20px;
  height: 20px;
}

.contactContainer{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(max-width: 485px){
  .icon {
    width: 25px;
    height: 25px;
  }
}
@media(max-width: 285px){
  .icon {
    width: 20px;
    height: 20px;
  }
}