.icon {
  width: 35px;
  height: 35px;
  box-shadow: none;
  
  filter: grayscale();
  cursor: pointer;
}

.icon:hover {
  filter: none;
}

.contactContainer{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 525px) {
  .icon {
    width: 10px;
    height: 10px;
  }
}
