.img{
  box-shadow: none;
  height:30px;
  width:30px;
}
.img2{
  box-shadow: none;
  height:400px;
  width:400px;
}

.container {
  margin: auto;
  height: 40px;
  width: 100%;
  transition: transform 5s;
}

.stick1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 10px;
  border: double #585b56 4px;
  animation: roll 20s infinite;
  transition: height 0.5s, width 0.5s, background-color 5s, border 0.5s;
}
.stick1:hover{
  background-color: white;
  transition: background-color 5s;
}

.text {
  font-size: 5px;
  opacity: 0;
  transition: opacity 5s;
}
.text:hover {
  opacity: 1;
  transition: opacity 5s;
}

@media (max-width: 525px) {
  .stick1 {
    height: 25px;
    width: 25px;
    transition: height 0.5s, width 0.5s, border 0.5s, background-color 5s;
    border: double #585b56 px;
  }
}



@keyframes roll {
  0% {
    transform: rotate(0);
    border-radius: 10px;
  }
  25% {
    transform: rotate(180deg);
    border-radius: 40px;
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(-180deg);
    border-radius: 20px;
  }
  100% {
    transform: rotate(0);
    border-radius: 10px;
  }
}
